# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
media/
staticfiles/
db.sqlite3

# AI Models (file besar, simpan di storage terpisah)
core/ai/models/*.pth
core/ai/models/*.pt

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
